.placeholder {
    &__animated-bg {
        position: relative;
        height: 100%;
        width: 100%;
        animation-duration: 2s;
        animation-fill-mode: forwards;
        animation-iteration-count: infinite;
        animation-name: placeHolderShimmer;
        animation-timing-function: linear;
        background-color: $gray-100;
        background: linear-gradient(to right, $gray-100 40%, $gray-400 50%, $gray-100 60%);
        background-size: 800px;
    }
}

@keyframes placeHolderShimmer {
    0% {
        background-position: -800px 0
    }
    100% {
        background-position: 800px 0
    }
}