.topics {
  &__card {
    cursor: pointer;
  }

  &__card-img {
    max-height: 14rem;
    object-fit: cover;
  }

  &__title {
    display: flex;
    width: 100%;
    justify-content: space-between;
    align-items: baseline;
  }

  &__btn {
    width: 80%;
    margin: 0 auto;
    border-radius: 4rem;
  }
}
